doctype html
html(lang="en")
  head
    title Manage Frolicks
    link(rel='stylesheet', href='css/react-datepicker.min.css')
    link(rel='stylesheet', href='css/main.css')
  body
    div#theApp

    script(src="js/bundle.js")
      