doctype html
html(lang="en")
  head
    title Manage Frolicks
    link(rel='stylesheet', href='css/react-datepicker.min.css')
    link(rel='stylesheet', href='css/main.css')
  body
    div#theApp

    script(src="js/bundle.js")
    script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing")
      
